.info-subtitle {
    font-weight: bold;
}

.info-subtitle,
.info-container > div {
    margin-bottom: 20px;
}

.info-container label {
    width: 15%;
    max-width: 100px;
    font-weight: bold;
}
.info-container input {
    width: 200px;
    height: 2rem;
    margin: 10px;

    border: none;
    border-bottom: 1px solid #808080;
    outline: none;

    font-size: 0.9em;
}
.info input:focus,
.info input:hover {
    border-bottom: 2.5px solid black;
}

.info input,
.info-each-input-container {
    position: relative;
    display: inline-table;
    /*float: left;*/
    /*left: 5%;*/
    background: none;
}

.info-each-input-container {
    padding: 0;
}

.MuiFormControl-root {
    height: 2rem;
    margin: 10px !important;
    padding: 0;
}
.MuiInputBase-root {
    height: 100%;
}
#demo-controlled-open-select {
    font-size: 0.9em;
}

.emphasis {
    color: crimson;
}