ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#container {
    padding: 40px;
}

.info-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-title .title {
    margin: 10px 0 30px 0;
    font-size: 1.4em;
    font-weight: bold;
    padding: 4px 10px; 
    border-left: 6px solid #444;
}

.info-each {
    /*margin-bottom: 20px;*/
    /*padding: 10px 0;*/
    /*border-bottom: 1px dotted #828282;*/
}
.info-each label {
    width: 15%;
    max-width: 100px;
}
.info-each input {
    width: 200px;
    height: 2rem;
    margin: 10px;

    border: none;
    border-bottom: 1px solid #808080;
    outline: none;

    font-size: 0.9em;
}
.info-each input:focus{
    border-bottom: 2.5px solid black;
}

.info-each > input,
.info-each-input-container {
    position: relative;
    display: inline-table;
    /*float: left;*/
    /*left: 5%;*/
}

.MuiFormControl-root {
    height: 2rem;
    margin: 10px !important;
    padding: 0;
}
#demo-controlled-open-select {
    font-size: 0.9em;
}

.buttonStyle {
    border: none;
    background-color: transparent;
    font-size: 15px;
}