/* preview container */
.result-container {
    margin-top: 1em;
    border: 1px solid #ccc;
    overflow-x: auto;
    background: white;
}
.result {
    /*background-image: url("./bg.png");
    background-size: cover;*/
    width: 1240px;
    padding: 50px;

    display: flex;
    flex-direction: column;
}
.result > div {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.result > div:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.result h4 {
    font-size: 1.7em;
    font-weight: bold;
}

.result-subtitle {
    font-size: 1.28em !important;
    font-weight: bold;
}


/*---------------------------------*/
/* 사진 및 인적사항 */
.profile-head {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.profile-img img {
    width:200px;
    height: 200px;
    border: 5px solid var(--main-dark-blue);
    border-radius: 50%;
}

.profile-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    margin: 0 0 30px 30px;
}
.profile-text * {
    margin: 4px 0;
}
.profile-text a {
    display: flex;
    align-items: center;
}
.profile-text svg {
    margin-right: 10px;
}

.profile-text-intro {
    text-align: right;
    margin-bottom: 20px;
}

.profile-text-name {
    padding: 0 8px;

    font-size: 1.4em;
    font-weight: bold;
    color: var(--main-blue);
}

/*---------------------------------*/
/* 인적사항 - 프로그래스바 */
.profile-progress {
    position: relative;
    display: flex;
    margin: 50px 50px 50px 0;
}
.profile-progress > div {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    padding-left: 30px;
    margin-top: -2px;
}
.profile-progress-bar {
    margin: 10px 10px 10px 60px;
    width: 100%;
    border: solid 3px grey;
    position: absolute
}


/*---------------------------------*/
/* 인적사항 - 학력 */
.profile-progress-each {
    /*width: 20px;*/
    /*height: 20px;*/

    font-size: 1em;
    margin-right: 50px;

    /*border: 10px solid var(--main-yellow);*/
    /*border-radius: 100%;*/
    /*margin-right: 160px;*/
    /*background-color: var(--main-yellow);*/
}
/* 인적사항 - 학력 - 동그라미 */
.profile-progress-each svg {
    width: 18px;
    height: 18px;
}
.profile-progress-each circle {
    fill: var(--main-yellow);
}


/*---------------------------------*/
/* 기술스택 / 사용언어 */
.skill > h4 {
    margin-bottom: 30px;
}
.skill > div {
    display: flex;
    align-items: center;
}

.skill-language canvas {
    margin: 0 auto;
}

.skill-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    height: 150px;
}
.skill-each {
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-left: 1px dotted #ccc;
    padding-left: 30px;
    margin: 10px 0 10px 30px;
}
.skill-each-name {
    /*background: var(--main-yellow);*/
    background: var(--main-dark-blue);
    color: white;

    border-radius: 10px;
    margin-right: 5px;
    padding: 5px 10px;
}



/*---------------------------------*/
/* 각 레포지토리 */
.project > li:last-child {
    /* 마지막 레포지토리의 바닥 구분선 없애기 */
    border: none;
}
.project-each {
    margin: 30px 0;
    border-bottom: 1px dashed #ccc;
}

.project-readme {
    margin: 30px 0;
}
.project-readme h1,
.project-readme h2,
.project-readme h3,
.project-readme h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
}
.project-readme hr {
    display: none;
}


/*---------------------------------*/
/* 경험 */
.experience-each {
    padding: 20px 0;
}
.experience-each span {
    margin-right: 20px;
}
.experience-each .skill-each-name {
    background: var(--main-yellow);
    color: black;
}