:root {
    --yellow: #FFDF3E;
}

#export {
    position: absolute;
    background-color: var(--yellow);
    border: none;
    color: black;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    right: 30px;
}

#top {
    margin:30px;
}

.topflex {
    display: flex;
    position: relative;
    align-items: center;
}

#box {
    /*background-image: url("./bg.png");
    background-size: cover;*/
    border: 1px solid #bbb;
    margin: 30px 230px;
}

.content {
    margin: 50px;
}

.flex {
    display: flex;
}

.profile {
    display: flex;
    flex-wrap:wrap;
}

.info {
    margin: 0px 0px 30px 30px;
    width: calc(100%/3*2);
}

#head {
    width:200px;
    height: 200px;
    border: 5px solid var(--yellow);
    border-radius: 50%;
}

.school, .career {
    margin: 50px;
    position: relative;
}
.stack, .lang {
    margin: 20px;
    position: relative;
    width: 50%;
    text-align: center;
}

canvas {
    margin: 0 auto;
}

hr {
    margin: 10px;
    margin-left: 20px;
    width: 80%;
    border: solid 3px grey;
}

.s1 {
    position: absolute;
    left:150px;
    top:3px;
    width: 20px;
    height: 20px;
    border: 10px solid var(--yellow);
    border-radius: 100%;
}
.s2 {
    position: absolute;
    left:350px;
    top:3px;
    width: 20px;
    height: 20px;
    border: 10px solid var(--yellow);
    border-radius: 100%;
}
.s3 {
    position: absolute;
    left:550px;
    top:3px;
    width: 20px;
    height: 20px;
    border: 10px solid var(--yellow);
    border-radius: 100%;
}

.c1 {
    position: absolute;
    left:100px;
    top:3px;
    width: 20px;
    height: 20px;
    border: 10px solid var(--yellow);
    border-radius: 100%;
}
.c2 {
    position: absolute;
    left:250px;
    top:3px;
    width: 20px;
    height: 20px;
    border: 10px solid var(--yellow);
    border-radius: 100%;
}
.c3 {
    position: absolute;
    left:400px;
    top:3px;
    width: 20px;
    height: 20px;
    border: 10px solid var(--yellow);
    border-radius: 100%;
}
.c4 {
    position: absolute;
    left:550px;
    top:3px;
    width: 20px;
    height: 20px;
    border: 10px solid var(--yellow);
    border-radius: 100%;
}
.c5 {
    position: absolute;
    left:900px;
    top:3px;
    width: 20px;
    height: 20px;
    border: 10px solid var(--yellow);
    border-radius: 100%;
}

.project {
    border-bottom: 1px solid #eee;
}

.repo {
    margin: 20px 0px 80px 30px;
}

.tempbtn {
    background-color: #1b1f23;
    color: white;
    border-radius: 10px;
    margin-left: 5px;
    padding: 3px 10px;
    font-size: 0.75em;
}

.story {
    margin: 80px 20px 80px 20px;
}

#story {
    margin-top: 50px;
}

.result .nextButton {
    text-decoration: none;
    border: none;
    background: #1b1f23;
    color: white;
    height: 45px;
    width: 150px;
    margin: 0px 0px 10px 0px;
    text-align:center;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    border-radius: 0px;
}

.name {
    color: var(--yellow);
    font-weight: 900;
}

.slogan, .sns, .name, .birth {
    text-align: right;
}