#container {
    padding: 40px;
}

.repo-each-container {
    border-top: 2px solid #828282;
    margin-bottom: 40px;
}

.repo-each-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 15px;
}

.repo-each-options {
    /*display: flex;*/
}

.repo-each-options label {
    border: none;
    /*width: 50%;*/
}

.repo-each-inputs {
    margin: 8px 16px;
}

.repo-each-inputs span {
    width: max-content;
    margin-top: 16px;
    border-bottom: none;
}

.form-check-input {
    cursor: pointer;
}

#container .nextButton {
    text-decoration: none;
    border: none;
    background: #1b1f23;
    color: white;
    height: 45px;
    width: 150px;
    text-align:center;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
}