#container {
    padding: 40px;
}

.repo-each-container {
    border-top: 2px solid #828282;
    margin-bottom: 40px;
}

.repo-each-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 10px 10px 10px !important;
    border: none;
    border-bottom: 1px solid #ccc;
}

.repo-each-options label {
    border: none;
    /*width: 50%;*/
}

.repo-each-inputs {
    margin: 8px 16px;
}

.repo-each-inputs span {
    width: max-content;
    margin-top: 16px;
    border-bottom: none;
}

.form-check-input {
    cursor: pointer;
}

.git-buttons {
    display: flex;
    justify-content: space-between;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 30px 0;

}
.subtitle h4 {
    margin: 0;
    padding: 4px 10px;

    font-size: 1.4em;
    font-weight: 600;

    border-left: 6px solid #444;
}

/* REAMDE 미리보기 */
.repo-each-container .list-group-item {
    padding-bottom: 0;
}
.readme-preview-button {
    font-size: 0.9em;
    cursor: pointer;
    color: #282c34;
}
.readme-preview-button:hover {
    color: #61dafb;
    text-decoration: underline;
}

.readme-preview-container {
    margin: 0 1rem;
    padding-left: 1.25em;
}