.main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 4rem);
}

/* 소개 박스 */
.main .wrapper {
    padding: 20px 30px;
    margin-right: 5%;

    border: 1px solid #ccc;
    background: white;
}

/* 제목 */
.main .title {
    padding-bottom: 2rem;

    font-family: "ebs_l";
    font-size: 3rem;
    font-weight: 700;
    color: var(--navy);
}

.main .subtitle1 {
    font-size: 2rem;
    padding-bottom: 3rem;
}

.main .subtitle2 {
    font-size: 1rem;
}

/* 로그인 버튼 */
.main .wrapper #button {
    position: relative;

    width: 100%;
    padding: 10px 0;

    background: var(--navy);

    font-size: 1em;
    text-align: center;
    color: white;

    border: none;
    outline: none;

    cursor: pointer;
    transition: 800ms ease all;
}
.main .wrapper #button:before,
.main .wrapper #button:after {
    content: '';
    position: absolute;
    top: 45px;
    left: 0;
    height: 2px;
    width: 0;
    background: var(--main-dark-blue);
    transition: 400ms ease all;
}
.main .wrapper #button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
.main .wrapper #button:hover {
    background: white;
    color: var(--main-dark-blue);
    font-weight: bold;
}
.main .wrapper #button:hover:before,
.main .wrapper #button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/* 사람 서 있는 이미지 */
.main .intro-img {
    width: 50%;
    z-index: 0;
}
.main .intro-img img {
    width: 100%;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .main {
        flex-direction: column-reverse;
        padding: 30px;
        min-height: calc(100vh - 3rem);
        height: auto;
    }

    .main .subtitle1 {
        font-size: 1.8rem;
    }

    .main .intro-img,
    .main .wrapper {
        width: 100%;
    }
    .main .wrapper {
        margin: 0;
    }
}