@font-face {
  font-family: "notosans_light";
  src: url("font/noto_sans/NotoSansKR-Light.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "notosans_bold";
  src: url("font/noto_sans/NotoSansKR-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ebs_l";
  src: url("font/ebs/EBS훈민정음새론L.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ebs_r";
  src: url("font/ebs/EBS훈민정음새론R.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ebs_sb";
  src: url("font/ebs/EBS훈민정음새론SB.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: notosans_light, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color :black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header, footer,
div, a,input,
h1, h2, h3, h4,
p, center, b,
ul, li,
option, select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

:root {
  --main-light-blue: #F2F7FF;
  --main-blue: #0B409C;
  --main-dark-blue: #10316B;
  --main-yellow: #FFCE63;
  --navy: #1b1f23;
}

a, button {
  cursor: pointer;
}